{% extends 'base.html' %}
{% load static %}
{% block title %}Projects {% endblock title%}
{% block content %}
<br/>
<h4 class="display-4 my-3 text-center mx-auto">Projects</h4>
<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="card col-md-4 col-sm-6 my-3 mx-auto card-hover p-3" data-aos="zoom-in" data-aos-duration="1000">
    <i class="fas fa-search fa-2x text-warning"></i>
      <h5 class="card-title">{{project.project_name}}</h5>
      <hr class="text-warning" />
      <p class="card-text">{{project.description |truncatewords:30 }}</p>
      <a href="{% url 'portal:project_description' project.id %}" class="btn btn-success btn-rounded my-2 px-2">View details</a>
    </div>
    {% endfor  %}
  </div>
</div>
{% endblock content %}