{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change your password{% endblock %}
{% block content %}
 
 <div class="container p-5 m-3">
    <div class="card w-75 p-2 mx-auto card-hover">
      <div class="card-body">
        <h2 class="card-title text-center">Change your password</h2>
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input type="submit" value="Change" class="btn btn-success btn-lg mt-3"></p>
        </form>
      </div>
    </div>
</div>
{% endblock %}