
		.w-icon-nav-menu:before {
			content: ""
		}

		@media only screen and (max-width: 1260px) {
			#freekohide {
				display: none;
			}
		}

		@media only screen and (max-width: 767px) {
			.pta {
				display: none;
			}
		}


		#info .bg {
			fill: transparent;
		}

		#info .st0 {
			fill: none;
			stroke: green;
			stroke-width: 6;
			stroke-miterlimit: 10;
		}

		#info .st1 {
			fill: green;
		}

		#info .st2 {
			fill: green;
			stroke: green;
			stroke-width: 6;
			stroke-miterlimit: 10;
		}

		/*Lock*/

		#lock #bg {
			fill: transparent
		}

		#lock .st0,
		#lock .circle,
		#lock .ellipse {
			fill: none;
			stroke: #DC3D51;
			;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		#lock .st0 {
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);

			-moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
			transform: 50% 50%;
			transition: 0.5s;
		}

		#lock:hover .st0 {
			-moz-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			transform: scale(-1, 1);
		}

		#lock .st1 {
			fill: none;
			stroke: #DC3D51;
			;
			stroke-width: 4;
			stroke-miterlimit: 10;
		}

		#lock .st2 {
			fill: none;
			stroke: #DC3D51;
			;
			stroke-width: 4;
			stroke-miterlimit: 10;
			stroke-dasharray: 41;
			transition: 0.5s;
		}

		#lock:hover .st2 {
			stroke-dasharray: 31;
		}


		.nav-menu {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			height: 80px;
			-webkit-box-align: stretch;
			-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
		}


		html,body{
		background-color: #f8f8f8;
		}

		.ou {

			height: 70%;
			display: flex;
			padding: 10px;
			margin: 20px;
			padding-right: 10px;

		}

		.ouleft {
			width: 67%;
			height: 100%;
			overflow: hidden;
			padding: 12px 20px;
			float: left;
		}

		.mid {
			width: 10%;
		}

		.ouright {
			vertical-align: center;
			width: 33%;
			padding-left: 15px;
		}

		.projectContainer {
			height: auto;
			max-height: 100vh;
			overflow-y: scroll;
			padding: 12px;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-right: 30px;
			border-style: solid;
			border-width: 0px;
			border-color: #E8E8E8;
		}

		

		.proin{
			display:flex;
			padding: 12px 20px;
			margin: 10px;
			cellpadding: 30px;
			font-size: 20px;
			font-weight:normal;
			width: 100%;
			border-style: solid;
			border-width: 2px;
			border-color: white;
			border-radius: .3em;
			font-family: Montserrat,sans-serif;
			-webkit-transition: all 300ms ease;
  			transition: all 300ms ease;
			background-color: white !important;
		}
		
	.proin:hover {
	  box-shadow: 16px 16px 35px -7px rgba(0, 0, 0, .3);
	  -webkit-transform: translate(0px, -5px);
	  -ms-transform: translate(0px, -5px);
	 }

		.inone {
			width: 100%
		}

		.intwo {
			width: 10vw;
		}

		input[type=submit] {
			padding: 5px 15px;
			background: #e5e5e5;
			font-weight: normal;
			font-family: Montserrat, sans-serif;
			color: #213875;
			border: 0 none;
			cursor: pointer;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		.inpt {
			position: relative;
			top: 0%;
		}

		.usar {
			text-align: center;
			border-style: solid;
			border-width: 0px;
			border-color: white;
			padding: 10px;
			border-spacing: 10px;
		}

		
		
		#appimg:hover > #lowa{
			  -webkit-transform: scale(1.1);
			  -ms-transform: scale(1.1);
			  transform: scale(1.1);
		}

		#lowa{
			-webkit-transition: -webkit-transform 500ms ease;
			  transition: -webkit-transform 500ms ease;
			  transition: transform 500ms ease;
			  transition: transform 500ms ease, -webkit-transform 500ms ease;
		}

		.checked {
			color: #daa520;
		}

		.situation {
			border-style: solid;
			border-width: 2px;
			border-color: #f8f8f8;
			padding: 10px;
		}

		.currentWorkingStatus {
			background-color: white !important;
			border-style: solid;
			border-width: 0px;
			border-color: #212226;
			margin: 5px;
			padding: 0px;
		}

		.skill-bar1 {
			width: 90%;
			height: 15px;
			float: left;
			padding: 0px;
			border-radius: 5px;
			margin: 6px 0 12px 0;
			border: 2px solid #213875;
		}

		.skill-bar1 span {
			background: #213875;
			height: 12px;
			border-radius: 5px;
			display: inline-block;
		}

		.skill-bar1 span {
			animation: w1 1s ease forwards;
		}

		@keyframes w1 {
			from {
				width: 0%;
			}
			to {
				width: 40%;
			}
		}

		.skill-bar2 {
			width: 90%;
			height: 15px;
			float: left;
			padding: 0px;
			border-radius: 5px;
			margin: 6px 0 12px 0;
			border: 2px solid #27A5EB;
		}

		.skill-bar2 span {
			background: #27A5EB;
			height: 12px;
			border-radius: 5px;
			display: inline-block;
		}

		.skill-bar2 span {
			animation: w2 1s ease forwards;
		}

		@keyframes w2 {
			from {
				width: 0%;
			}
			to {
				width: 60%;
			}
		}

		#myInput {
			border-box: box-sizing;
			background-image: url('http://icons.iconarchive.com/icons/icons8/ios7/24/Very-Basic-Search-icon.png');
			background-position: 14px 12px;
			background-repeat: no-repeat;
			font-size: 16px;
			padding: 14px 20px 12px 45px;
			width: 190px;
			border: none;
			border-bottom: 1px solid #ddd;
		}

		#myInput:focus {
			outline: 3px solid #ddd;
		}

		.dropdown-content {
			display: none;
			padding-bottom: 1px;
			padding-top: 1px;
			position: absolute;
			color: #DC3D51;
			background-color: black;
			max-width: 200px;
			overflow-y: auto;
			max-height: 400px;
			border: 1px solid #ddd;
			z-index: 1;
		}

		.dropdown-content a {
			color: #DC3D51;
			padding: 1px;
			text-decoration: none;
			display: block;
		}


		.show {
			display: block;
		}

		.styled-select select {
		   background: #213875;
		   color: white;
		   width: 268px;
		   padding: 5px;
		   font-size: 16px;
		   line-height: 1;
		   border: 0;
		   border-radius: 0;
		   height: 34px;
		   -webkit-appearance: none;
		   }

   .styled-select {
		   width: 268px;
		   height: 34px;
		   overflow: hidden;
		   background: url(new_arrow.png) no-repeat right #ddd;
		   border: 1px solid #ccc;
		   }

   .protag{

			padding: 0px 15px;
            background: #e5e5e5;
            display: inline-block;
            font-weight: normal;
            font-family: Montserrat, sans-serif;
            font-color: #213875;
            border: 0 none;
            cursor: pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
		}


